@model List<shivambalkimvc.Context.tab_student>

@{
    ViewBag.Title = "StudentList";
}

<table class="table table-hover"
    <tr>
        <th>Name</th>
        <th>Dob</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>Action</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Name</td>
    <td>@item.Dob</td>
    <td>@item.Email</td>
    <td>@item.Phone</td>
    <td>@item.City</td>
    <td>
        <a href="@Url.Action("Student",new { item.Id,item.Name,item.Dob,item.Email,item.Phone,item.City})" class="btn btn-warning">Edit</a>
        <a href="@Url.Action("Delete",new { item.Id})" class="btn btn-danger">Delete</a>
    </td>
</tr>
    }
</table>